/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.background {
  margin: auto;
  background-image: url("./images/background.png");
  background-size: 600px 400px;
  width: 1500px;
  height: 800px;
}

.character {
  position: relative;
  top: 65px; left: 65px;
}